<div class="home__sector">
  <div class="home__main">
    <h1>Hi, Who am I ?</h1>

    <h5 class="main__route">GET https://takita.jonathan.dev/</h5>

    <div class="main__content">
      &#123;<br>
      &nbsp;&nbsp;<b>"name": "Jonathan Taquita",</b><br>
      &nbsp;&nbsp;<b>"age": 25,</b><br>
      &nbsp;&nbsp;<b>"job": &#123;</b><br>
      &nbsp;&nbsp;&nbsp;&nbsp;<b>"currentWorkplace": "CVC Corp",</b><br>
      &nbsp;&nbsp;&nbsp;&nbsp;<b>"position": "Java Software Developer"</b><br>
      &nbsp;&nbsp;<b>&#125;,</b><br>
      &nbsp;&nbsp;<b>"city": "Santo André",</b><br>
      &nbsp;&nbsp;<b>"state": "São Paulo",</b><br>
      &nbsp;&nbsp;<b>"UF": "SP",</b><br>
      &nbsp;&nbsp;<b>"country": "Brazil"</b><br>
      &#125;<br>
    </div>
  </div>
</div>
